<article
  class="overflow-hidden break-before-auto cursor-pointer bg-white hover:bg-gray-200 transition-all rounded-xl border-4 border-white hover:border-gray-200"
>
  <section class="relative">
    <img [src]="news.data()['img']" class="w-full h-56" />
    <button
      class="absolute top-0 right-0 m-3 w-7 h-7 flex font-extrabold items-center justify-center rounded-full"
      (click)="onClick(); $event.stopPropagation()"
      [ngClass]="isFav ? 'bg-red-500 text-white' : 'bg-slate-100 text-gray-500'"
    >
      ♡
    </button>
  </section>

  <section class="p-3">
    <h1 class="mb-1 text-lg font-semibold pt-2">{{ news.data()["title"] }}</h1>
    <p class="mb-1 text-gray-400 text-md">
      {{ news.data()["subtitle"] }}
    </p>
  </section>
</article>
