<ion-card style="height: 300px; position: relative;">
  <ion-button color="secondary"
    style="position: absolute; top: 5px;right: 10px;--padding-start:0; height: 20px; width: 20px;">
    <ion-icon color="tertiary" name="heart-outline"
      style="position:absolute;padding-left: 16px;height: 15px; width: 15px;"></ion-icon>
  </ion-button>
  <img src="./assets/15762821646608867.png" style="height: 50%; width: 100%;" />

  <div>
    <ion-card-header style="transform: rotateY('-20px');">
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </div>
</ion-card>