<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-searchbar class="custom" animated="true" placeholder="Search"></ion-searchbar>
  </div>
  <div>        
    <select style="width: 351px; height: 36px; margin-left: 13px; background-color: white; color: #666666; border-radius: 8px;text-align-last: center; ">
      <option value="" disabled selected>Categories</option>
      <option value="1">Value 1</option>
      <option value="2">Value 2</option>
  </select>    
  </div>
  
  <app-news-card></app-news-card>
  <app-news-card></app-news-card>
  <app-news-card></app-news-card>

</ion-content>
