<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form
    class="flex flex-col gap-y-9 h-full justify-center"
    [formGroup]="loginForm"
  >
    <div class="flex flex-col justify-center items-center mb-10">
      <h1 class="font-semibold text-gray-700 text-4xl text-center">
        Welcome <span class="text-red-500">back!</span>
      </h1>
      <h1 class="text-gray-700 text-md text-center mt-3">
        The faster you fill up, the faster you create the future
      </h1>
    </div>
    <div class="flex flex-col gap-y-4">
      <div class="text-gray-500">
        <label>Email:</label>
      </div>
      <input
        class="px-5 py-3 rounded-lg"
        placeholder="email"
        formControlName="email"
      />
      <div class="text-gray-500">
        <label>Password:</label>
      </div>
      <input
        type="password"
        class="px-5 py-3 rounded-lg"
        placeholder="password"
        formControlName="password"
      />
    </div>
    <div class="flex flex-col gap-y-4">
      <button
        (click)="login()"
        class="w-full px-5 py-3 font-semibold bg-red-500 rounded-lg hover:bg-red-600 active:bg-red-700 transition-all !text-white"
      >
        Sign in
      </button>
      <div class="flex items-center justify-center">
        <p class="font-normal text-gray-400">
          Don´t have an account?
          <span
            routerLink="/auth/register"
            class="w-full px-1 py-3 font-semibold transition-all !text-gray-700"
            >Sign up</span
          >
        </p>
      </div>
    </div>
  </form>
</ion-content>
